<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Fantasy Stat App by Curryware">
    <meta name="author" content="Scot Curry">
    <link rel="icon" href="../static/dist/images/favicon-org.png">
    <link rel="stylesheet" href="../static/dist/css/bootstrap.css">
    <title>Curryware Web Site</title>
</head>

<body>
  <h1 style="text-align: center">Curryware Fantasy Football Site</h1>
  <div class="container-md border">
    {% block content %}
    {% endblock %}
  </div>
  <script src="../static/dist/js/bootstrap.bundle.js"></script>
</body>

</html>