{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Logo</th>
          <th>Manager</th>
          <th>Felo Score</th>
          <th>Total Points</th>
          <th>Wins</th>
          <th>Losses</th>
        </tr>
      </thead>
      <tbody>
      {%  for current_team in all_teams %}
        <tr>
          <td>{{ current_team.TeamRank }}</td>
          <td>{{ current_team.TeamName }}</td>
          <td>
            <img src="{{ current_team.TeamLogo }}" alt="Logo" width="40" height="40" class="logo-picture">
          </td>
          <td>{{ current_team.ManagerNickName }}</td>
          <td>{{ current_team.ManagerFeloScore }}</td>
          <td>{{ current_team.TeamTotalPoints }}</td>
          <td>{{ current_team.TeamWins }}</td>
          <td>{{ current_team. TeamLosses }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}